.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter {
  color: #333;
}
.buttons {
  color: #fff;
  background: #6600ff;
  font-size: 32px;
  width: 100px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}

.btn {
  color: #fff;
  background: crimson;
  font-size: 32px;
  width: 200px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}

.space-top {
  margin-top: 100px;
}

.my_name {
  color: blue;
  font-size: 50px;
  text-align: center;
}
